html, body {
    background-color: #fff;
    color: #636b6f;
    font-weight: 300;
    height: 100vh;
    margin: 0;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.btn {
    font-weight: 400;
}
th{
    font-size:16px;
}
th i {
    vertical-align: bottom;
}
span{
    display:inline-block;
    text-align:center;
}
span.estoque{
    min-width:50px;
}